
.thumbnail_gt{
padding:0 0 15px 0;
background-color: whitesmoke;
margin-left: 20px;
margin-top: 42px;
}
.thumbnail_gt anh6{
margin-left: 0px;
width:100%;
}
.gioithieu{
	margin-top:4px;
}

.thumbnail_tintuc{
                padding:0 0 15px 0;
                margin-left: 10px;
				margin-bottom:60px;
                background-color: whitesmoke;
    height:auto;
    border-radius: 10px;
 
			}
.thumbnail_tintuc .anh_tintuc1{
                width: 100%;
                height: 100%;

            }
#timkiem_tintuc{
    margin-top: 10px;
}
.quangcao2_tintuc{
    margin-top: 30px;
}
.tieude_tintuc{
    margin-left: 20px;
    margin-top: 50px;
}
.thumbnail_tintuc1 img{
    width:70%;
    height:70%;
}
.tieude6_small_tintuc{
    margin-left:-50px;
}






